@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
	<head>
	<title>@Umbraco.Field("pageName")</title>
	</head>
	<body>
	    <fieldset style="border:1px solid #000;margin:2em;padding:2em;width:90%">
	        <legend>Multi Fieldset Model</legend>
	        @(Model.Content.GetProperty("multiFieldsetModel").DataValue)
	    </fieldset>
	    <fieldset style="border:1px solid #000;margin:2em;padding:2em;width:90%">
	        <legend>Multi Fieldset Model List</legend>
	        @(Model.Content.GetProperty("multiFieldsetModelList").DataValue)
	    </fieldset>
	</body>
	</html>