<!DOCTYPE root[<!ELEMENT TestPage ANY>
<!ATTLIST TestPage id ID #REQUIRED>
 

]>
<root id="-1">
  <TestPage id="1061" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-02T14:20:35" updateDate="2014-07-03T10:55:25" nodeName="Models" urlName="models" path="-1,1061" isDoc="" nodeType="1060" creatorName="test" writerName="test" writerID="0" template="1059" nodeTypeAlias="TestPage">
    <simpleModel><![CDATA[{"fieldsets":[{"properties":[{"alias":"date","value":"2014-07-10T00:00:00"},{"alias":"dateTime","value":"2014-07-16T14:18:50"},{"alias":"textField","value":"Testing text field"},{"alias":"trueFalse","value":"1"},{"alias":"nodePicker","value":"1061"}],"alias":"simpleModel"}]}]]></simpleModel>
    <nestedModel><![CDATA[{"fieldsets":[{"properties":[{"alias":"simpleModel","value":"{\"fieldsets\":[{\"properties\":[{\"alias\":\"textField\",\"value\":\"Simple Model Text String\"},{\"alias\":\"dateTime\",\"value\":\"\"},{\"alias\":\"date\",\"value\":\"2014-07-07T00:00:00\"},{\"alias\":\"trueFalse\",\"value\":\"0\"},{\"alias\":\"nodePicker\",\"value\":\"\"}],\"alias\":\"simpleModel\"}]}"},{"alias":"textString","value":"Nested Model Text String"}],"alias":"archetypeNestedModel"}]}]]></nestedModel>
  </TestPage>
</root>